.first-row:first-child > td {
  color: #fbbf00;
}

.first-row-cell:first-child > p {
  text-align: center;
  display: flex;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 10px;
  background: #141533;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.css-10dbhht-MuiTableCell-root {
  padding: none !important;
}

* {
  font-family: "Heebo";
}
