@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "OpenSans";
	src: url("./fonts/Heebo-Black.ttf"), url("./fonts/Heebo-Bold.ttf"),
		url("./fonts/Heebo-Light.ttf"), url("./fonts/Heebo-SemiBold.ttf"),
		url("./fonts/OpenSans-Bold.ttf"), url("./fonts/OpenSans-ExtraBold.ttf"),
		url("./fonts/OpenSans-Light.ttf");
}

@font-face {
	font-family: "Heebo";
	src: url("./fonts/Heebo-Medium.ttf");
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
